@import url("reset.css");

html {
	font: 11pt/1.4545 "Lucida Grande", sans-serif;
	background-color: hsl(0, 0%, 95%);
	color: hsl(0, 0%, 5%);
}

body {
	margin: 0 1in;
	overflow: hidden;
}

body > header {
	font-size: 2.909em;
	line-height: 1.25;
	margin: .5em 0;
	text-align: center;
}

body > header > h1 > span {
	display: inline-block;
	width: 33%;
}

body > p > canvas {
	display: block;
	margin: auto;
	border: 1px dotted;
	background-color: lightGoldenRodYellow;
}

body > p + p {
	font-size: 2.909em;
	line-height: 1.25;
	text-align: center;
}
